html, body, #wrap {
    height: 100%;
}

#mainLayout {
    background: rgba(255, 255, 255, 0.0);
}

#mainContainer {
    background-repeat: no-repeat;
    background-image: url(../img/background.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

/*Header CSS*/
#logo img {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#logo span {
    color: #c0c0c0;
    vertical-align: middle;
    margin: 0 auto;
    font-size: 24px;
    padding-left: 0px;
    margin-bottom: 20px;
}

#login {
    vertical-align: middle;
    font-size: 18px;
}

/*Footer CSS*/
#footer {
    margin-top: 80px;
    background-color: #555555;
}

#displayList {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

#displayList ul {
    list-style: none;
    margin: 0px auto;
    width: 100%;
    height: 100%
}

#displayList li {
    display: inline-block;
    line-height: 20px;
    width: 20px;
    text-align: center;
}

#copyRight {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #878B91;
}

/*Content CSS*/
#newsContent {
    background: rgba(255, 255, 255, 0.9);
    padding: 24px;
    margin: 0px;
    height: 100%;
    border-radius: 20px;
}

#newsContent img {
    width: 100%;
}

#newsContent .newsCard {
    padding: 15px 0px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#siderLayout {
    display: inline-block;
}

#contentLayout {
    background: rgba(255, 255, 255, 0.0);
}

#displayLayout {
    display: inline-block;
    background: rgba(255, 255, 255, 0.0);
    padding: 0 24px 24px;
    width: 50%;
    height: 800px;
    margin-top: 40px;
}

#infoLayout {
    display: inline-block;
    background: rgba(255, 255, 255, 0.0);
    padding: 0 24px 24px;
    width: 20%;
}

#siderMenu {
    height: 735px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    margin-top: 40px;
}

#siderMenu li {
    font-size: 14px;
}

#siderMenu i {
    width: 15%;
}

#infoArea {
    margin-top: 40px;
}

#infoArea #recommendNews {
    margin-top: 20px;
}

.ant-layout-sider-collapsed i {
    font-size: 20px;
}

.ant-layout-sider-collapsed .nav-text {
    display: none;
}

.news_date {
    display: inline-block;
    position: relative;
    text-align: right;
    width: 50%;
}

.news_type {
    display: inline-block;
    border: 2px solid #DC143C;
    font-size: 15px;
    color: #000000;
    border-radius: 5px;
    position: relative;
    text-align: left;
    margin-right: 10%;
}

.news_source {
    display: inline-block;
    position: relative;
    width: 25%;
}

.news_title {
    position: relative;
    font-size: 20px;
}

.news_digest {
    position: relative;
    margin-top: 20px;
    font-size: 10px;
}

#listInside {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 150%;
}

#PullDown {
    margin: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    background-color: white;
    line-height: 40px;
}

#PullUp {
    margin: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    background-color: white;
    line-height: 40px;
}

.login-form {
    max-width: 300px;
    margin-left: 10%;
    margin-right: 10%;
}

.login-form-forgot {
    float: right;
}

.login-form-remember {
    float: left;
}

.login-form-button {
    width: 100%;
}

.login-form-tip {
    float: left;
    margin-bottom: 10px;
}